<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skill</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">App Design</h4>
                    <p class="text-muted">UX/UI 디자인</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Design</h4>
                    <p class="text-muted">UX/UI 디자인</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fab fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HTML5</h4>
                    <p class="text-muted">html5 코딩</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fab fa-css3-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CSS3</h4>
                    <p class="text-muted">css3 코딩</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fab fa-adobe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Adobe Program</h4>
                    <p class="text-muted">Photoshop/ Illust</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Editorial Design</h4>
                    <p class="text-muted">각종 인쇄물 (브로슈어,리플렛,패키지 등) 디자인</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">package Design</h4>
                    <p class="text-muted">패키지 디자인</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-video fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">filming & Editing</h4>
                    <p class="text-muted">사진/동영상 촬영 및 편집</p>
                </div>
            </div>
        </div>
    </section>
